@import "./App/style.scss";
@import "./AppOpened/style.scss";
@import "./CommingSoon/style.scss";

.__screen {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 120px);
  color: white;
  background-color: #1A1A1A;
}
