.header{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items:  center;
    background-color: $bg-dark;
    >a{
        text-decoration: none;
    }
    &-logo{
        color: $font;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        align-items:  center;
        img{
            padding: 0 15px;
            height: 40px;
        }
    }
    // 22 + 21 + 14 + 2
    // 20 + 27 + 14 + 2
    &-nav{
        display: flex;
        flex-direction: row;
        a{
            color: $font;
            text-decoration: none;
            font-size: 20px;
            margin: 0 30px;
            padding: 17px 15px 13px 15px;
            border-bottom: 2px solid transparent;
            &:hover{
                border-bottom: 2px solid rgba($color: white, $alpha: 0.5);
            }
        }
    }
}
a.__current{
    border-bottom: 2px solid white !important;
}