$font: white;
$bg-light: white;
$bg-medium: #1a1a1a;
$bg-dark: #121212;

$green_main: #1fa01f;
$green_secondary: #32cc32;

$red_main: #ff0000;
$red_secondary: #ff4040;

$grey_main: #282828;
$grey_secondary: #414141;

$blue_main: #1560bd;
$blue_secondary: #256abe;
